
<!DOCTYPE html>
<html>
    <head>
        <div class="centerd">
    <head>   
    <body>
       <h1>Welcome to tax calculator</h1> 
        </body>
        <style>
            body{
                background-color: aliceblue;
            }
        
            .centerd{
                height: 100vh;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>    